<!-- FILEPATH: /Users/apple/Desktop/Playground/hypp/pinntag/src/mail/templates/mailVerification.template.hbs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        </style>
</head>
<body>
    <h1>Please Verify Your Identity</h1>
    <p>Hi {{name}},</p>
    <p>Thank you for signing up! Please confirm your email address by entering the OTP below:</p>
    <p>OTP: {{otp}}</p>
    <p>This OTP is valid for {{otpExpiry}} minutes.</p>
    <p>If you did not sign up for an account, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Pinntag Team</p>
</body>
</html>
